.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.header {
  background: rgb(250, 217, 223);
  padding: 20px;
  max-width: 100%;

  h1 {
    text-align: center;
  }
}

.main {
  max-width: 100%;
  display: flex;

}

.control {
  display: flex;
  max-width: 100%;

  select {
    width: 100%;
  }
}

.chart {
  background: rgb(213, 255, 246);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  width: 50%;
}

.map {
  display: flex;
  background: rgb(206, 217, 252);
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 50%;
}

.goal,
.year {
  width: 50%;
  margin: 5px;
}
